#joy-input {
    margin-top: 0.75vw;
    background: white;
    border-radius: 50px;
    font-size: 1vw;
    border: 0;
    width: 25vw;
    height: 3vw;
    padding-left: 2vw;
    font-family: 'Montserrat', sans-serif;
}

#dropdown {
    margin-top: 0.75vw;
    border-radius: 50px;
    font-size: 1vw;
    border: 0;
    width: 16vw;
    height: 3vw;
    padding-left: 2vw;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin-top: 0.75vw;
    margin-left: 1vw;
    border-radius: 50px;
    font-size: 1.5vw;
    height: 3vw;
    width: 7vw;
    color: white;
    background-color: #ee5367;
}

button:hover {
    background-color: #d84f61;
}

textarea:focus,
input:focus, 
button:focus,
select:focus {
    outline: none;
}

.centered {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;/*NEW*/
}

#joy-label {
    color: white;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    margin-right: 1vw;
}

#category-label {
    color: white;
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: 'Montserrat', sans-serif;
}