<ion-content [fullscreen]="true">
  <div class="banner">
    <button type="button">
      <img class="edit-icon" src="../../assets/pencil-edit-button.svg">
      Edit Joys
    </button>
  </div>
  
  <div class="avatar"></div>
  <img class="profile-photo" alt="Profile Photo" src="../../assets/outline.png">
  
  <h1 class="user-name">{{userProfile.firstName}} {{userProfile.lastName}}</h1>

  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile colspan="1" *ngFor="let joy of userProfile.joys" (click)="openDialog()">
      <div class="tilefix">
        <mat-card *ngIf="joy.status > 77" id="positive">
          <mat-card-header>
            <img id="icon" alt="Joy Icon" [src]="joy.icon">
            <div id="card-banner"></div>
            <div class=card-info>
              <p class="card-title">{{joy.name}}</p>
              <p class="card-category">{{joy.category}}</p>
            </div>
          </mat-card-header>
          <!--<mat-card-actions>
            <button class="card-button" mat-raised-button>Success</button>
            <button class="card-button" mat-raised-button>Try Again</button>
          </mat-card-actions>-->
        </mat-card>

        <mat-card *ngIf="joy.status > 33 && joy.status < 77" id="neutral">
          <mat-card-header>
            <img id="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <img id="card-banner" alt="Memories Preview" [src]="joy.memories">
          </mat-card-header>
          <mat-card-content>
            <p class="card-title">{{joy.name}}</p>
            <p class="card-category">{{joy.category}}</p>
          </mat-card-content>
          <!--<mat-card-actions>
            <button class="card-button" mat-raised-button>Success</button>
            <button class="card-button" mat-raised-button>Try Again</button>
          </mat-card-actions>-->
        </mat-card>

        <mat-card *ngIf="joy.status < 33" id="negative">
          <mat-card-header>
            <img id="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <img id="card-banner" alt="Memories Preview" [src]="joy.memories">
          </mat-card-header>
          <mat-card-content>
            <p class="card-title">{{joy.name}}</p>
            <p class="card-category">{{joy.category}}</p>
          </mat-card-content>
          <!--<mat-card-actions>
            <button class="card-button" mat-raised-button>Success</button>
            <button class="card-button" mat-raised-button>Try Again</button>
          </mat-card-actions>-->
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  
  <!--<ion-grid>

    <ion-col>
      <ion-card class="notifications"></ion-card>
    </ion-col>

    <ion-col>
      <ion-row class="joys-grid">
        <ion-col *ngFor="let joy of joys">

          <ion-card class="main" *ngIf="joy.status > 77" id="positive">
            <ion-card-header class="card-banner">
              <img class="preview" alt="Memories Preview" [src]="joy.memories">
            </ion-card-header>
            <img class="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <ion-card-content>
              <ion-card-title>{{joy.name}}</ion-card-title>
              <ion-card-subtitle>{{joy.category}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>

          <ion-card class="main" *ngIf="joy.status > 33 && joy.status < 77" id="neutral">
            <ion-card-header class="card-banner">
              <img class="preview" alt="Memories Preview" [src]="joy.memories">
            </ion-card-header>
            <img class="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <ion-card-content>
              <ion-card-title >{{joy.name}}</ion-card-title>
              <ion-card-subtitle>{{joy.category}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>

          <ion-card class="main" *ngIf="joy.status < 33" id="negative">
            <ion-card-header class="card-banner">
              <img class="preview" alt="Memories Preview" [src]="joy.memories">
            </ion-card-header>
            <img class="icon" alt="Joy Icon" src="../../assets/icon/basketball.png">
            <ion-card-content>
              <ion-card-title>{{joy.name}}</ion-card-title>
              <ion-card-subtitle>{{joy.category}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-col>

  </ion-grid>-->
</ion-content>